/* --- 4K - 2560px ---*/

@media (min-width: 145em) {
  /*General CSS*/
  .container {
    max-width: 95%;
  }

  h2 {
    font-size: 6.2rem;
  }

  h4 {
    font-size: 4.8rem;
  }
  p {
    font-size: 3rem;
  }
  .decoration {
    height: 4.8rem;
    width: 4.8rem;
  }
  /*Header and Footer*/
  .header {
    padding: 0 40rem 0 40rem;
  }

  .main-nav {
    margin-right: 0;
  }

  .SSS-logo {
    width: 60%;
    margin-top: 12rem;
    margin-left: -6rem;
  }

  .main-nav-list {
    font-size: 3rem;
    margin-top: 6rem;
  }

  .footer-heading {
    font-size: 4.8rem;
  }

  .footer-link,
  .acc-link {
    font-size: 3.2rem;
  }

  .copyright {
    font-size: 2rem;
  }

  /*Home Page*/
  .section-hero {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    padding-top: 24rem;
  }

  .hero-content {
    gap: 2.4rem;
  }

  .hero-header {
    font-size: 9.8rem;
    border-image: linear-gradient(#0e1866);
  }

  .hero-sub-header {
    width: 100%;
    font-size: 5.2rem;
  }

  .hero-description {
    width: 100%;
    font-size: 3.2rem;
    line-height: 1.8;
  }

  .hero-btn,
  .hero-btn-cta:link,
  .hero-btn-cta:visited {
    font-size: 3.2rem;
    padding: 2.4rem;
  }

  .wwa-subheader,
  .os-subheader,
  .why-subheader,
  .lt-subheader {
    text-align: center;
    font-size: 4.4rem;
    letter-spacing: 0.75px;
  }

  .os-icon {
    width: 12rem;
    height: 12rem;
  }

  .os-icon-text {
    font-size: 4.6rem;
  }

  .why-benefit {
    width: 30%;
    height: 30%;
  }

  .why-list-text,
  .lt-process-button,
  .lt-process-button:link,
  .lt-process-button:visited,
  .lt-cta-high,
  .lt-cta-button,
  .lt-cta-button:link,
  .lt-cta-button:visited {
    font-size: 3rem;
  }

  .lt-cta-high-title {
    font-size: 4.8rem;
  }

  .lt-cta {
    gap: 1.6rem;
    padding: 3.6rem;
  }

  /*About Us Page*/

  .aboutus-img {
    height: 90vh;
  }

  /*Join Us Page*/
  .join-img {
    height: 90vh;
  }

  /*FAQ Page*/
  .FAQ-img {
    height: 95vh;
  }

  /*Find Talent Page*/
  .cr-img {
    height: 95vh;
  }

  /*Join Our Team Page*/
  .pcf-img {
    height: 95vh;
  }

  /*Privacy Page*/
  .Privacy-img {
    height: 95vh;
  }
}

/* --- Laptop L - 1440px - Design Level */
@media (max-width: 90em) {
  /*Home Page*/
  .DNSM-statement,
  .DNSM-statement-nd {
    margin: 5% 25%;
  }
}
/* --- Laptop 1024px  ---*/

@media (max-width: 64em) {
  /*Header and Footer*/
  .container {
    padding: 3.2rem;
  }

  .main-nav {
    flex-basis: 120rem;
  }

  .SSS-logo {
    width: 70%;
    margin-top: 4rem;
  }

  .page-background {
    height: 100%;
  }

  .DNSM-statement,
  .DNSM-statement-nd {
    text-align: center;
  }
  /*Home Page*/
  .section-hero {
    display: grid;
    grid-template-columns: 0.2fr 2fr 0.2fr;
    padding-top: 20rem;
  }

  .home-img {
    background-size: 130%;
  }

  .hero-content {
    gap: 1.2rem;
  }
  .hero-sub-header {
    width: 100%;
    font-size: 2rem;
  }

  .os-header,
  .lt-header,
  .why-header {
    margin: 0 20rem;
  }

  .section-whychoosesss {
    align-items: center;
  }
  .why-list {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }
  .why-list-text {
    width: 70%;
  }

  .lt-container {
    grid-template-rows: repeat(3fr);
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .lt-centerimg {
    grid-row: 1/2;
    grid-column: 1/5;
  }

  .lt-content {
    grid-row: 2/3;
    grid-column: 1/3;
  }
  .lt-timeline {
    grid-column: 3/5;
  }
  .lt-cta-button,
  .lt-cta-button:link,
  .lt-cta-button:visited {
    width: 25%;
  }
}

/* --- Tablet 768px- Mobile Navigation Menu Design*/

@media (max-width: 48em) {
  /*Main Nav*/
  .header {
    position: relative;
  }

  .btn-mobile-nav {
    display: block;
    z-index: 9999;
    position: absolute;
    top: 30%;
    right: 5%;
  }

  .main-nav {
    background-image: linear-gradient(#0e1866, #0e186648);
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    box-shadow: -5px 0 10px 0 #0e186680;
    position: absolute;
    top: 0;
    right: 0;
    padding: 6.4rem 7rem;

    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;

    transition: all 0.5s ease-in;

    pointer-events: none;
    visibility: hidden;

    transform: translateX(100%);
  }

  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3.6rem;
    color: #f0f8ff;
  }

  .nav-open .main-nav {
    opacity: 1;

    pointer-events: auto;
    visibility: visible;

    transform: translateX(0);
    backdrop-filter: blur(5px);
  }

  .nav-open .btn-nav-icon[name="close-icon"] {
    display: block;
  }

  .nav-open .btn-nav-icon[name="menu-icon"] {
    display: none;
  }

  /*Header and Footer*/
  .container {
    width: 90%;
  }

  .SSS-logo {
    width: 22%;
    position: absolute;
    left: 1.2rem;
    top: -1.6rem;
    margin-top: 0;
  }

  .page-background {
    height: 100%;
  }

  .footer-container {
    column-gap: 3.2rem;
  }
  .address-column {
    padding-left: 1.8rem;
    padding-right: 1.8rem;
  }
  .address {
    font-size: 1.2rem;
  }

  .DNSM-header {
    font-size: 3rem;
  }
  .DNSM-statement,
  .DNSM-statement-nd {
    text-align: center;
  }

  /*Home Page*/

  .section-hero {
    height: 70vh;
    align-content: center;
    justify-content: center;
    padding: 0;
  }
  .home-img {
    background-size: cover;
    background-position: top center;
  }

  .hero-header {
    font-size: 5.2rem;
  }

  .section-whoweare {
    grid-template-rows: 1fr 1fr;
    gap: 0;
  }
  .wwa-content {
    grid-row: 1/2;
    grid-column: 1/3;
  }

  .wwa-image {
    grid-column: 1/3;
  }

  .os-service-cards {
    gap: 1.2rem;
  }

  .why-header {
    margin: 0 10rem;
  }
  .why-list {
    padding: 0;
  }

  .why-subheader {
    margin-bottom: 2.4rem;
  }

  .lt-cta {
    margin-left: 0;
    margin-right: 0;
  }

  .lt-cta-button,
  .lt-cta-button:link,
  .lt-cta-button:visited {
    width: 35%;
  }

  /*join us carousel
  .main-card .cards .card {
    width: calc(100% / 2 -10px);
    margin: 20px 0 10px 0;
  }*/
}

/* --- Mobile L 425px ---*/

@media (max-width: 27em) {
  /*join us carousel
  .main-card .cards .card {
    width: 100%;
  }*/
}

/* --- Mobile M 375px  ---*/
@media (max-width: 23em) {
}

/* --- Mobile S 320px  ---*/

@media (max-width: 20em) {
}
