/* --- 4K - 2560px  ---*/

@media (max-width: 160em) {
}

/* --- Laptop L - 1440px - Design Level */
@media (max-width: 90em) {
}

/* --- Laptop 1024px  ---*/

@media (max-width: 64em) {
}

/* --- Tablet 768px- Mobile Navigation Menu Design*/

@media (max-width: 48em) {
  .header {
    position: relative;
  }

  .btn-mobile-nav {
    display: block;
    z-index: 9999;
    position: absolute;
    top: 10%;
    right: 5%;
  }

  .main-nav {
    background-image: linear-gradient(to left, #0e1866, #0e186648);
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    box-shadow: -5px 0 10px 0 #0e186680;
    position: absolute;
    top: 0;
    left: 50%;
    padding: 6.4rem 7rem;

    width: 50%;
    height: 100hv;

    display: flex;
    align-items: center;
    justify-content: right;

    opacity: 0;

    transition: all 0.5s ease-in;

    pointer-events: none;
    visibility: hidden;

    transform: translateX(100%);
  }

  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3.2rem;
    color: #f0f8ff;
  }

  .nav-open .main-nav {
    opacity: 1;

    pointer-events: auto;
    visibility: visible;

    transform: translateX(0);
    backdrop-filter: blur(5px);
  }

  .nav-open .btn-nav-icon[name="close-icon"] {
    display: block;
  }

  .nav-open .btn-nav-icon[name="menu-icon"] {
    display: none;
  }
}

/* --- Mobile L 425px ---*/

@media (max-width: 27em) {
}

/* --- Mobile M 375px  ---*/
@media (max-width: 23em) {
}

/* --- Mobile S 320px  ---*/

@media (max-width: 20em) {
}
