/* --- 4K - 2560px ---*/

@media (min-width: 145em) {
  .FAQ-img {
    background-image: url(../PageHeadermedia/Frequently\ Asked\ Questions\ 2400.webp);
    background-position: top;
    height: 90vh;
  }

  .section-img {
    grid-template-rows: 2fr 2fr 1fr;
  }

  .FAQ-accordion {
    padding-bottom: 3.2rem;
  }
  .FAQ-header1 {
    font-size: 6.4rem;
    background-color: #1d1d1bab;
    border-radius: 9px;
    display: block;

    text-align: center;
  }

  .FAQ-number {
    font-size: 4.8rem;
  }

  .FAQ-question {
    font-size: 3.2rem;
  }

  .FAQ-answer {
    padding: 3.2rem;
  }
}

/* --- Laptop L - 1440px - Design Level */
@media (max-width: 90em) {
}
/* --- Laptop 1024px  ---*/

@media (max-width: 64em) {
  .FAQ-img {
    background-image: url(../PageHeadermedia/Frequently\ Asked\ Questions\ 1050.webp);
  }

  .section-img {
    grid-template-rows: 2fr 1fr 1fr;
  }

  .FAQ-header1 {
    font-size: 4.8rem;
    grid-column: 2/5;
    grid-row: 2/3;
    background-color: rgba(29, 29, 27, 0.753);
    border-radius: 9px;
    display: block;
    padding: 0.8rem;
    text-align: center;
    align-self: end;
  }

  .FAQ-question {
    padding-right: 6.4rem;
  }

  .FAQ-answer {
    padding: 3.4rem;
  }
}

/* --- Tablet 768px- Mobile Navigation Menu Design*/

@media (max-width: 48em) {
  .FAQ-img {
    background-image: url(../PageHeadermedia/Frequently\ Asked\ Questions\ 768.webp);
    height: 45vh;
    position: relative;
    height: 55vh;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
    background-position: top;
  }

  .FAQ-header1 {
    position: absolute;
    top: 26rem;
    left: 10rem;
  }

  .FAQ-question {
    padding-right: 6.6rem;
    font-size: 2rem;
  }
  .FAQ-answer {
    padding: 1.2rem;
  }
}

/* --- Mobile L 425px ---*/

@media (max-width: 27em) {
  .FAQ-img {
    background-image: url(../PageHeadermedia/Frequently\ Asked\ Questions\ 425.webp);
    height: 32vh;
  }

  .FAQ-header1 {
    font-size: 1.8rem;
  }

  .FAQ-number {
    font-size: 1.6rem;
  }

  .FAQ-question {
    padding-right: 8rem;
    font-size: 1.6rem;
  }

  .FAQ-accordion-header {
    flex-direction: column;
    gap: 1.2rem;
    justify-content: left;
  }

  .FAQ-question {
    padding-right: 0;
    text-align: center;
  }
}

/* --- Mobile M 375px  ---*/
@media (max-width: 23em) {
  .FAQ-img {
    background-image: url(../PageHeadermedia/Frequently\ Asked\ Questions\ \ 375.webp);
  }
  .FAQ-accordion-header {
    gap: 1.4rem;
  }
  .FAQ-header1 {
    font-size: 2.4rem;
  }
}

/* --- Mobile S 320px  ---*/

@media (max-width: 20em) {
  .FAQ-img {
    background-image: url(../PageHeadermedia/Frequently\ Asked\ Questions\ 320.webp);
  }

  .FAQ-header1 {
    font-size: 2.4rem;
    top: 18rem;
    left: 6rem;
    right: 6rem;
  }

  .FAQ-accordion-header {
    gap: 1.6rem;
  }
}
