.section-img {
  display: grid;
  grid-template-rows: repeat(3, auto);
  align-items: center;
  justify-content: center;
}

.FAQ-img {
  background-image: url(../PageHeadermedia/Frequently\ Asked\ Questions\ 1500.webp);
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 5px 1px #34343282;
  border-radius: 1px;
  max-width: 100%;
  height: 65vh;
  z-index: -1;
  grid-column: 1/6;
  grid-row: 1/4;
}

.page-background {
  position: absolute;
  width: 100%;
  z-index: -2;
  opacity: 80%;
}

.FAQ-header1 {
  color: aliceblue;
  font-size: 4.4rem;
  line-height: 1.8;
  background-color: #1d1d1b62;
  border-radius: 9px;
  display: block;
  padding: 0.8rem;
  text-align: center;

  z-index: 1;
  grid-column: 2/5;
  grid-row: 2;
}

.FAQ-accordion {
  box-shadow: 0 0 3px #34343260;
  padding: 1.2rem;
  border-radius: 9px;
}

.FAQ-accordion-item {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 2.4rem;
  justify-content: center;
  align-items: center;
}

.FAQ-accordion-header {
  display: flex;
  gap: 2.4rem;
  align-items: center;
  position: relative;
  margin-bottom: 1.2rem;
}

.FAQ-accordion-header::after {
  content: "\02C5";
  text-align: center;
  color: aliceblue;
  font-size: 4rem;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  box-shadow: 0 0 2px #343432;
  background-color: #0c2d48;
  transition: transform 0.5s ease-in-out;

  position: absolute;
  right: 2.4rem;
}

.FAQ-accordion-header.active::after {
  transform: rotate(-180deg);
  background-color: #0085b7;
  color: #343432;
}

.FAQ-number {
  font-size: 2.4rem;
  font-weight: 600;
  color: #f0f0f0;
  background-color: #0c2d48;
  padding: 0.4rem 1.2rem;
  border-radius: 9px;
  opacity: 50%;
}

.FAQ-question {
  color: #0c2d48;
  font-size: 2.4rem;
  font-weight: 600;
}

.FAQ-accordion-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.FAQ-answer {
  margin-bottom: 1.2rem;
  border-top: 3px solid;
  border-image: linear-gradient(to right, transparent, #0c2d48, transparent) 1;
  text-align: justify;
  text-justify: inter-word;
  padding: 1.2rem;
}
